app = "bd-homepage-12345"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.checks]
    [http_service.checks.http]
      path = "/api/health"
      interval = "10s"
      timeout = "2s"
      grace_period = "120s"
